### 2. Conceptos B√°sicos

# **1.2 Tipo de datos**

En programaci√≥n, los tipos de datos son como las etiquetas que le ponemos a la informaci√≥n para que la computadora sepa c√≥mo debe tratarla.  Es como si tuvi√©ramos diferentes tipos de cajas  para guardar diferentes cosas: una caja para n√∫meros , otra para letras  y as√≠ sucesivamente.

## Tipos de datos primitivos

Los tipos de datos primitivos son los m√°s b√°sicos y simples. En Python, los m√°s comunes son:

- Enteros (int): N√∫meros enteros, como 1, 10, -5, etc. Ejemplo: edad = 30

- Flotantes (float): N√∫meros con decimales, como 3.14, 2.5, -0.01, etc. Ejemplo: altura = 1.75

- Booleanos (bool): Valores verdadero (True) o falso (False). Ejemplo: es_estudiante = True

- Caracteres (str): Letras, palabras y textos en general. Se escriben entre comillas simples (' ') o dobles (" "). Ejemplo: nombre = "Juan"

- Complejos (complex): N√∫meros con una parte real y una parte imaginaria. Se utilizan en matem√°ticas y ciencias para representar cantidades complejas. Ejemplo: z = 3 + 4i

**Jupyter no exige definirlo como una variable, Python lo infiere en tiempo de ejuci√≥n. Sin embargo, hay situaciones en las que puede ser √∫til o necesario especificar o definir el tipo de una variable. Por ejemplo:**

In [4]:
# Enteros(int)
# Jupyter no exige definirlo como una variable,  Python lo infiere en tiempo de ejuci√≥n
4

4

In [ ]:
# Asignamos variables a los numeros para poder manipularlos 
n = 4 
m = 8
print(n+m)

In [ ]:
# Flotante o decimal(float)
3.1416

In [1]:
f = 3.1616
d = -0.14
print(f+d)

3.0216

In [8]:
# Booleanos(bool)
True
False

False

In [5]:
true = True  
false = False
print(true*false)

1

In [7]:
# Complejos(complex)
4j

4j

In [7]:
c = 4j 
d = 5
print(c*d)

20j

In [ ]:
# Caracteres(str)
"Hola mundo"

### Reutilizaci√≥n
Al crear una estructura de c√°lculos con variables, podemos f√°cilmente adaptar sus valores para hacer distintas comprobaciones.

In [8]:
nota_1 = 2
nota_2 = 5
nota_media = (nota_1 + nota_2) / 2
nota_media

3.5

### Asignaci√≥n m√∫ltiple
Tambi√©n podemos realizar **asignaci√≥n m√∫ltiple** En "x" se guardar√° el 1 y en "y" se guardar√° el 2. La instruccion  <div><br><b>x, y = 1, 2</b> ser√≠a igual que:  <br><b>x = 1 <br>
    y = 2</b></div>

In [11]:
x, y = 1, 2
x, y

(1, 2)

## Conversi√≥n de tipos (casting)

A veces, necesitamos cambiar el tipo de dato de una variable. Por ejemplo, si tenemos un n√∫mero en formato de cadena ("10") y queremos usarlo como un n√∫mero entero, necesitamos convertirlo. Esto se llama "casting".

**Ejemplos:**

In [14]:
edad_str = "25"  # Cadena
edad_int = int(edad_str)  # Entero
altura_float = float("1.75")  # Flotante

print(type(edad_str))  # Imprime <class 'str'>
print(type(edad_int))  # Imprime <class 'int'>
print(type(altura_float))  # Imprime <class 'float'>

# Estas son funciones de Python que usamos para convertir o coocer el valor de las  varibles # "int", "float" y "type"

## Tipos de datos estructurados
Los tipos de datos estructurados se construyen a partir de los tipos primitivos y permiten almacenar colecciones de datos. Los m√°s comunes en Python son:

- Cadenas (str): Secuencias de caracteres. Ya los mencionamos antes, pero vale la pena recordarlos. Ejemplo: mensaje = "Hola, mundo"

- Listas (list): Colecciones ordenadas de elementos. Los elementos pueden ser de diferentes tipos y se pueden modificar. Ejemplo: numeros = [1, 2, 3, 4, 5]

- Tuplas (tuple): Similar a las listas, pero los elementos no se pueden modificar una vez creada la tupla. Ejemplo: coordenadas = (10, 20)

- Diccionarios (dict): Colecciones de pares clave-valor. Cada clave est√° asociada a un valor. Ejemplo: persona = {"nombre": "Juan", "edad": 30}

In [13]:
# Cadenas(str)
"Hola insecto" + "¬øotra vez aqui?"

'Hola insecto¬øotra vez aqui?'

In [ ]:
# Listas ==> se usa '[]' 

lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Tuplas ==> se usa '()' 
tuplas = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
# Diccionarios  ==> se usa '{}' 
dic = {"nombre": "Juan", "edad":26, "estado":"activo"} 

# Esto es una lista de dicionarios 
humanos = [
    {"nombre": "Juan", "edad": 25, "ciudad": "M√©xico"},
    {"nombre": "Mar√≠a", "edad": 30, "ciudad": "Espa√±a"},
    {"nombre": "Pedro", "edad": 20, "ciudad": "Argentina"}
]

for indice, persona in enumerate(humanos):
    print(f"indice:{indice}, persona:{persona}")

# Diccionario con identificadores unicos 
personas = {
    "12345678": {"nombre": "Juan", "edad": 25, "ciudad": "M√©xico"},
    "87654321": {"nombre": "Mar√≠a", "edad": 30, "ciudad": "Espa√±a"},
    "98765432": {"nombre": "Pedro", "edad": 20, "ciudad": "Argentina"}
}

for p in personas:
    print(p)

0, persona:{'nombre': 'Juan', 'edad': 25, 'ciudad': 'M√©xico'}
1, persona:{'nombre': 'Mar√≠a', 'edad': 30, 'ciudad': 'Espa√±a'}
2, persona:{'nombre': 'Pedro', 'edad': 20, 'ciudad': 'Argentina'}
12345678
87654321
98765432

In [ ]:
# Esto es una lista de dicionarios 
humanos = [
    {"nombre": "Juan", "edad": 25, "ciudad": "M√©xico"},
    {"nombre": "Mar√≠a", "edad": 30, "ciudad": "Espa√±a"},
    {"nombre": "Pedro", "edad": 20, "ciudad": "Argentina"}
]

for indice, persona in enumerate(humanos):
    print(f"indice:{indice}, persona:{persona}")

# Diccionario con identificadores unicos 
personas = {
    "12345678": {"nombre": "Juan", "edad": 25, "ciudad": "M√©xico"},
    "87654321": {"nombre": "Mar√≠a", "edad": 30, "ciudad": "Espa√±a"},
    "98765432": {"nombre": "Pedro", "edad": 20, "ciudad": "Argentina"}
}

for p in personas:
    print(p)

## Conclusi√≥n üéØ

Los tipos de datos son esenciales para trabajar con informaci√≥n en programaci√≥n. Entenderlos y saber c√≥mo convertirlos nos permite manipular los datos de manera efectiva y resolver problemas de manera m√°s eficiente.

## ¬°Recuerda!

Los conceptos de tipos de datos son universales en programaci√≥n. La sintaxis para declararlos y convertirlos puede variar entre lenguajes, pero la idea principal es la misma.
¬°Experimenta con diferentes tipos de datos y conversiones! La pr√°ctica hace al maestro. ‚Äç
Espero que este material te sea √∫til. ¬°No dudes en preguntar si tienes alguna duda!